.home {
    overflow: hidden;

    .attr-list {
        overflow: auto;
        padding: 10px 14px;
        padding-top: 0;
        height: 100%;
    }

    .title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .el-collapse-item__content {
        padding-bottom: 0;
    }

    .v-common-attr {
        margin-bottom: 18px;

        .el-form {
            padding: 10px;
            padding-top: 0;
        }
    }
}

.el-tabs {
    height: 100%;
}

.el-tabs__content {
    height: calc(100% - 55px);
    overflow: auto;
}

.el-tabs__nav-scroll {
    padding-left: 20px;
}

.el-tabs__header {
    margin: 0;
}

.el-tag {
    text-align: right;
}

.el-switch {
    margin-left: 40px;

    .el-switch__label--left {
        margin-right: 5px;

        .el-icon-sunny::before {
            color: #817f7f;
        }
    }

    .el-switch__label--left.is-active {
        .el-icon-sunny::before {
            background: #e3a5638f;
            color: #fff;
            box-shadow: #ed8f2b91 0 0 12px 5px;
        }
    }

    .el-switch__label--right {
        margin-left: 5px;

        .el-icon-moon::before {
            color: #ddd;
        }
    }

    .el-switch__label--right.is-active {
        .el-icon-moon::before {
            background: #00000069;
            box-shadow: #0000008f 0 0 12px 5px;
        }
    }
}
